* {
    margin: 50;
    padding: 50;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
}

.cabecalho {
    width: 84.5%;
    background-color: rgb(255, 255, 255);
    padding: 50px 8%;
    float: left;
}

img{
    max-width: 100%;
    width: 15%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, rgba(215,236,255), rgba(139,200,255));
}

.menu{
    background-color: rgb(255, 255, 255);
    width: 84.5%;
    padding: 18px 8%;
    float: left;
}

.menu li{
    float: left;
}

.menu li a{
    color: rgb(255, 255, 255);
    background-color:rgb(66,133,244) ;
    margin-right: 30px;
    padding: 8px;
    border-radius: 8px;
}

a{
    text-decoration: none;
}

.menu li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgba(215,236,255);
    padding: 8px;
    border-radius: 8px;
}

.menu img{
    float: right;
    margin-left: 24px;
    width: 40px;
}

.principal{
    width: 90%;
    float: left;
    padding: 5px;
}

.sobre{
    width: 100%;
    float: left;
    padding: 0 20px 20px 0;
}

.sobre h2{
    margin-bottom: 15px;
    color: rgb(66,133,244);
    width: 60px;
}

.sobre img{
    width: 25%;
    float: left;
    margin-left: 0 15px 15px 0;
    margin-right: 20px;
}

.sobre p{
    margin-right: 40%;
    text-align: justify;
}

.localizacao{
    float: right;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    color: rgb(66,133,244);
    width: 58%;
    float: inherit;
}

.localizacao h2{
    margin-bottom: 15px;
}
.localizacao iframe{
    width: 100%;
    height: 300px;
    margin-bottom: 2%;
}

.quemsomos h2{
    margin-top: 5%;
    font-style: normal;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: larger;
    margin-right: 43%;
}
.quemsomos img{
    width: 80px;
}

.quemsomos h3{
    font-family: 'Times New Roman', Times, sans-serif;
    font-style: normal;
    margin-right: 55%;
    text-align: justify;
}

.quemsomos h2{
    font-family: 'Times New Roman', Times, sans-serif;
    font-style: inherit;
    margin-right: 55%;
    text-align: justify;
}

.formulario select{
    width: 242px;
}